<nav id="nav-main">
    <section>
        <h1><a href="/">BookClub</a></h1>
    </section>
    <section id="nav-links">
        <ul>
            <% if (!loggedIn) { %>
                <li><a href="/login">Login</a></li>
                <li><a href="/signup">SignUp</a></li>
            <% } else { %>
                <li><a href="/logout">Logout</a></li>
            <% } %>
        </ul>
    </section>
</nav>