<%- include('partials/header') %>

<main>
    <h1>Welcome to the BookClub</h1>

    <h1>Your are logged in!</h1>
    <h2>You are a Student!</h2>
    <% if (bookclubs) { %>
        <section>
            <% bookclubs.forEach(x => { %>
                <a href="/bookclub/<%= x.id %>"><%= x.name %></a>
            <% }) %>
        </section>
    <% } %>
    <a href="/logout">Logout</a>
</main>

<%- include('partials/footer') %>