<%- include('partials/header') %>

<main id="home-page">
    <%- include('partials/nav') %>
    <section>
        <h1>Create your very own Book Club</h1>
        <p>BookClub allows you to easily create an environment where reading thrives and discussion blossoms. Bookclub aims to connect people from around the world based on our favorite pastime, reading!</p>
        <a href="/login">Create Book Club</a>
    </section>
</main>

<%- include('partials/footer') %>