<%- include('partials/header') %>

<main>
    <h1>Signup to join your very own BookClub</h1>
    <div>
        <% if (locals.messages.errors) { %>
            <% locals.messages.errors.forEach( el => { %>
                <p><%= el.msg %></p>
            <% }) %>
        <% } %>
    </div>
    <form action="/signup" method="POST">
        <div>
            <label for="firstName">First Name</label>
            <input type="text" id="firstName" name="firstName">
        </div>
        <div>
            <label for="lastName">Last Name</label>
            <input type="text" id="lastName" name="lastName">
        </div>
        <div>
            <label for="email">Email</label>
            <input type="text" id="email" name="email">
            <span>We'll never share your email with anyone else.</span>
        </div>
        <div>
            <label for="password">Password</label>
            <input type="password" id="password" name="password">
        </div>
        <div>
            <label for="confirmPassword">Confirm Password</label>
            <input type="password" id="confirmPassword" name="confirmPassword">
        </div>
        <button type="submit">Submit</button>
    </form>
</main>

<%- include('partials/footer') %>