<%- include('partials/header') %>

<main>
    <section class="club-form">
        <h1>Sign Up</h1>
        <form action="/signup" method="POST">
            <div>
                <label for="firstName">First Name</label>
                <input type="text" id="firstName" name="firstName" placeholder="e.g. John">
            </div>
            <div>
                <label for="lastName">Last Name</label>
                <input type="text" id="lastName" name="lastName" placeholder="e.g. Doe">
            </div>
            <div>
                <label for="email">Email</label>
                <input type="text" id="email" name="email" placeholder="Email Address">
            </div>
            <div>
                <label for="password">Password</label>
                <input type="password" id="password" name="password" placeholder="Password">
            </div>
            <div>
                <label for="confirmPassword">Re-type Password</label>
                <input type="password" id="confirmPassword" name="confirmPassword" placeholder="Confirm Password">
            </div>
            <div>
                <span class="full-width">Type of Account:</span>
                <div class="radio-input">
                    <input type="radio" id="student" name="accountType" value="student" checked>
                    <label for="student">Student</label>
                </div><!--
                --><div class="radio-input">
                    <input type="radio" id="instructor" name="accountType" value="instructor">
                    <label for="instructor">Instructor</label>
                </div>
            </div>
            <button type="submit">Submit</button>
        </form>
        <% if (locals.messages.errors) { %>
            <div class="error-message">
                <h3>Error</h3>
                <% locals.messages.errors.forEach( el => { %>
                    <p><%= el.msg %></p>
                <% }) %>
            </div>
        <% } %>
        <p>Already have an account? <a href="/login">Login</a></p>
    </section>
</main>

<%- include('partials/footer') %>